.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace
.obsidian/cache/
.obsidian/plugins/*/data.json
.obsidian/community-plugins.json.bak
copilot/

.DS_Store
Thumbs.db
*.swp
*~

